<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게임 메인 화면</title>
</head>
<body onload = "onloadBody()">
<div id = "graphLayout">
    <div>
        <canvas id="priceChartLayout"></canvas>
        <canvas id="priceChartWriter"></canvas>
    </div>
    <div>
        <canvas id="tradeVolumeChartLayout"></canvas>
        <canvas id="tradeVolumeChartWriter"></canvas>
    </div>
</div>

<script>
    let chartSocket;

    const priceChartWriter = document.getElementById("priceChartWriter");
    const priceChartWriterCtx = priceChartWriter.getContext("2d");

    const priceChartLayout = document.getElementById("priceChartLayout");
    const priceChartLayoutCtx = priceChartLayout.getContext("2d");

    const tradeVolumeChartWriter = document.getElementById("tradeVolumeChartWriter");
    const tradeVolumeChartWriterCtx = tradeVolumeChartWriter.getContext("2d");

    const tradeVolumeChartLayout = document.getElementById("tradeVolumeChartLayout");
    const tradeVolumeChartLayoutCtx = tradeVolumeChartLayout.getContext("2d");


    const graphLayout = document.getElementById("graphLayout");

    graphLayout.addEventListener("scroll", function (event) {
        console.log("onCode: " + onCode);
        if (onCode === false) {
            autoScroll = event.target.scrollLeft + event.target.clientWidth >= event.target.scrollWidth - 1;
        } else {
            onCode = false;
        }
    })

    let autoScroll = true;
    let onCode = false;

    // 화면 크기 비율로 설정할 필요 있음
    let mainWidth = 1200;
    let mainHeight = 400;

    const marginLeft = 10;
    const marginTop = 10;

    let LayoutWidth = mainWidth - marginLeft * 2;
    const LayoutHeight = mainHeight - marginTop * 2;

    let stickRefX = marginLeft + LayoutWidth;
    let stickRefY = marginTop + LayoutHeight / 2;

    const guideLineLengthY = 8;
    const guideLineLengthX = 5;

    const valueStickWidth = 10;

    // 임의로 지정한 거래량 첫 봉의 그래프 참조값
    let showValueLate = 20000;

    // 기본 봉 개수
    let graphComp = 10;

    // 그래프의 각 틱 시간정보
    let relTime;

    // 5분 봉 캐시 변수
    let priceChartValueData5Min = [0];
    let priceChartValueData5MinZeroPoint = [0];
    let priceChartValueData5MinMax = [0];
    let priceChartValueData5MinMin = [0];

    let valueData5Min = [0];

    // 3분 봉 캐시 변수
    let priceChartValueData3Min = [0];
    let priceChartValueData3MinZeroPoint = [0];
    let priceChartValueData3MinMax = [0];
    let priceChartValueData3MinMin = [0];

    let valueData3Min = [0];

    // 1분 봉 캐시 변수
    let priceChartValueData1Min = [0];
    let priceChartValueData1MinZeroPoint = [0];
    let priceChartValueData1MinMax = [0];
    let priceChartValueData1MinMin = [0];

    let valueData1Min = [0];

    // 30초 봉 캐시 변수
    let priceChartValueData30Sec = [0];
    let priceChartValueData30SecZeroPoint = [0];
    let priceChartValueData30SecMax = [0];
    let priceChartValueData30SecMin = [0];

    let valueData30Sec = [0];

    // 1틱 차트 내부 데이터
    let priceChartValueData1Tick = [0];

    let valueData1Tick = [0];

    // 화면에 표시될 데이터를 선택하기 위해 집계 데이터를 배열로 관리
    let priceChartSelectData = [priceChartValueData5Min, priceChartValueData3Min, priceChartValueData1Min, priceChartValueData30Sec, priceChartValueData1Tick];
    let priceChartSelectDataZeroPoint = [priceChartValueData5MinZeroPoint, priceChartValueData3MinZeroPoint, priceChartValueData1MinZeroPoint, priceChartValueData30SecZeroPoint];
    let priceChartSelectDataMaxPoint = [priceChartValueData5MinMax, priceChartValueData3MinMax, priceChartValueData1MinMax, priceChartValueData30SecMax];
    let priceChartSelectDataMinPoint = [priceChartValueData5MinMin, priceChartValueData3MinMin, priceChartValueData1MinMin, priceChartValueData30SecMin];

    let selectData = [valueData5Min, valueData3Min, valueData1Min, valueData30Sec, valueData1Tick];

    // 화면에 표시될 데이터 선택 변수
    let selectDataIndex = 3;

    // 기준 시간 별로 milliseconds를 계산하여 캐시
    const Min5 = 5 * 60 * 1000;
    const Min3 = 3 * 60 * 1000;
    const Min1 = 60 * 1000;
    const Sec30 = 30 * 1000;


    // canvas 크기 설정(html 크기 속성이랑 css 크기 속성이 다르게 먹어서 둘다 설정)
    priceChartLayout.width = mainWidth;
    priceChartLayout.height = mainHeight;
    priceChartWriter.width = mainWidth;
    priceChartWriter.height = mainHeight;

    tradeVolumeChartLayout.width = mainWidth;
    tradeVolumeChartLayout.height = mainHeight;
    tradeVolumeChartWriter.width = mainWidth;
    tradeVolumeChartWriter.height = mainHeight;

    priceChartLayout.style.width = mainWidth + "px";
    priceChartLayout.style.height = mainHeight + "px";
    priceChartWriter.style.width = mainWidth + "px";
    priceChartWriter.style.height = mainHeight + "px";

    tradeVolumeChartLayout.style.width = mainWidth+"px";
    tradeVolumeChartLayout.style.height = mainHeight+"px";
    tradeVolumeChartWriter.style.width = mainWidth+"px";
    tradeVolumeChartWriter.style.height = mainHeight+"px";

    function scrollSummary() {
        onCode = true;
        graphLayout.scrollLeft = graphLayout.scrollWidth;
    }

    function onloadBody() {

        chartSocketHandler();

        drowGuideLine(guideLineLengthX, guideLineLengthY, priceChartLayoutCtx);
        drowGuideLine(guideLineLengthX, guideLineLengthY, tradeVolumeChartLayoutCtx);
    }

    function drowGuideLine(widthLineLength, hightLineLength, context) {

        // canvas 내부의 외곽선 그리기

        // 1. 경로 시작 (이후 지정된 영역을 한 번에 그리는 느낌)
        context.beginPath();

        // 2. 외곽선 사각형
        context.rect(marginLeft, marginTop, LayoutWidth, LayoutHeight);

        // 3. 지정된 영역 채워 그리기
        context.strokeStyle = 'gray';
        context.lineWidth = 1;
        context.stroke();


        const widthLine = mainWidth / widthLineLength;
        const heightLine = mainHeight / hightLineLength;

        // 가로 가이드 라인
        for (let i = 1; i < hightLineLength; i++) {
            context.beginPath();
            context.moveTo(marginLeft,
                i * heightLine);
            context.lineTo(marginLeft + LayoutWidth,
                i * heightLine);

            context.strokeStyle = 'gray';
            context.lineWidth = 1;
            context.stroke();
        }

        // 세로 가이드라인
        for (let i = 1; i < widthLineLength; i++) {
            context.beginPath();
            context.moveTo(i * widthLine,
                marginTop);
            context.lineTo(i * widthLine,
                marginTop + LayoutHeight);

            context.strokeStyle = 'gray';
            context.lineWidth = 1;
            context.stroke();
        }
    }

    function drowCandle(RefX, RefY, width, value, highPoint, lowPoint, tickSize, viewRate) {

        if (value === undefined) return;

        let valuePixels = Math.abs(value / tickSize * viewRate);
        let highPointPixels = highPoint / tickSize * viewRate;
        let lowPointPixels = lowPoint / tickSize * viewRate;

        // 데이터 갱신을 위해 타겟 봉 영역 지우기
        priceChartWriterCtx.clearRect(RefX, 0, width, mainHeight);
        drowGuideLine(guideLineLengthX, guideLineLengthY);

        // 캔들 컴포넌트 그리기
        if (value > 0) {
            priceChartWriterCtx.fillStyle = 'blue';
            priceChartWriterCtx.strokeStyle = 'blue';
            priceChartWriterCtx.beginPath();
            priceChartWriterCtx.rect(RefX, RefY, width, valuePixels);
            priceChartWriterCtx.fill();
        } else {
            priceChartWriterCtx.fillStyle = 'red';
            priceChartWriterCtx.strokeStyle = 'red';
            priceChartWriterCtx.beginPath();
            priceChartWriterCtx.rect(RefX, RefY-valuePixels, width, valuePixels);
            priceChartWriterCtx.fill();
        }

        // 고점 라인 그리기
        priceChartWriterCtx.beginPath();
        priceChartWriterCtx.moveTo(RefX + valueStickWidth / 2, RefY);
        priceChartWriterCtx.lineTo(RefX + valueStickWidth / 2, RefY - highPointPixels);

        priceChartWriterCtx.stroke();

        // 저점 라인 그리기
        priceChartWriterCtx.beginPath();
        priceChartWriterCtx.moveTo(RefX + valueStickWidth / 2, RefY);
        priceChartWriterCtx.lineTo(RefX + valueStickWidth / 2, RefY + lowPointPixels);
        priceChartWriterCtx.stroke();

        //console.log("valuePixels: " + valuePixels + " highPointPixels: " + highPointPixels + " lowPointPixels: " + lowPointPixels);
        //console.log("stickRefX: " + RefX + ", stickRefY: " + RefY + ", width: " + width + ", value: " + value + ", highpoint: " + highPoint + ", lowpoint: " + lowPoint + ", tickSize: " + tickSize + ", viewRate: " + viewRate);
    }

    function drowStick(RefX, RefY, width, value) {

        if (value === undefined) value = 0;

        tradeVolumeChartWriterCtx.clearRect(RefX, 0, width, mainHeight);
        drowGuideLine(guideLineLengthX, guideLineLengthY);

        tradeVolumeChartWriterCtx.beginPath();
        tradeVolumeChartWriterCtx.rect(RefX, RefY, width, value);
        tradeVolumeChartWriterCtx.fillStyle = 'blue';
        tradeVolumeChartWriterCtx.fill();


        //console.log("stickRefX: " + RefX + ", stickRefY: " + RefY + ", width: " + width + ", value: " + value);
    }

    function shiftArrayRight(oldArray) {
        let newArray = new Array(oldArray.length).fill(0);
        for (let i = 0; i < oldArray.length; i++) {
            newArray[i + 1] = oldArray[i];
        }
        return newArray;
    }

    function getMax(intArray, length) {
        let max = intArray[0];
        for (let i; i < length; i++) {
            if (i > max) max = i;
        }
        return max;
    }

    function getMin(intArray, length) {
        let min = intArray[0];
        for (let i; i < length; i++) {
            if (i < min) min = i;
        }
        return min;
    }

    function expandGraph(index, writer, layout) {
        if (priceChartSelectData[selectDataIndex].length > graphComp && index === selectDataIndex) {
            mainWidth += LayoutWidth / graphComp;

            writer.style.width = mainWidth + "px";
            layout.style.width = mainWidth + "px";

            writer.width = mainWidth;
            layout.width = mainWidth;

            LayoutWidth = mainWidth - marginLeft * 2;
            graphComp++;
            if (autoScroll) {
                scrollSummary();
            }
        }
    }

    function getTickSize(price) {
        let unit;
        switch (true) {
            case (price < 1000):
                unit = 1;
                break;
            case (price < 5000):
                unit = 5;
                break;
            case (price < 10000):
                unit = 10;
                break;
            case (price < 50000):
                unit = 50;
                break;
            case (price < 100000):
                unit = 100;
                break;
            case (price < 500000):
                unit = 500;
                break;
            default:
                unit = 1000;
                break;
        }
        return unit;
    }

    function chartSocketHandler() {
        chartSocket = new WebSocket("http://localhost:8081/ws/chart");
        chartSocket.onopen = function (event) {
            console.log("연결 성공");
        };
        chartSocket.onmessage = function (event) {

            let stockData = JSON.parse(event.data);

            if (stockData.stck_prpr != null) {
                if (relTime == null) {
                    relTime = new Date(stockData.created_at);
                    for (let i = 0; i < priceChartSelectDataZeroPoint.length; i++) {
                        priceChartSelectDataZeroPoint[i][0] = stockData.stck_prpr;
                        priceChartSelectDataMaxPoint[i][0] = stockData.stck_prpr;
                        priceChartSelectDataMinPoint[i][0] = stockData.stck_prpr;
                    }
                } else {
                    let grapeTime = new Date(stockData.created_at);
                    if (grapeTime - relTime >= Min5) {
                        priceChartSelectData[0] = shiftArrayRight(priceChartSelectData[0]);
                        priceChartSelectDataMaxPoint[0] = shiftArrayRight(priceChartSelectDataMaxPoint[0]);
                        priceChartSelectDataMaxPoint[0][0] = stockData.stck_prpr;
                        priceChartSelectDataMinPoint[0] = shiftArrayRight(priceChartSelectDataMinPoint[0]);
                        priceChartSelectDataMinPoint[0][0] = stockData.stck_prpr;
                        priceChartSelectDataZeroPoint[0] = shiftArrayRight(priceChartSelectDataZeroPoint[0]);
                        priceChartSelectDataZeroPoint[0][0] = stockData.stck_prpr;
                        relTime = grapeTime;
                        stickRefY = marginTop + LayoutHeight / 2;
                        expandGraph(0, priceChartWriter, priceChartLayout);
                    }
                    if (grapeTime - relTime >= Min3) {
                        priceChartSelectData[1] = shiftArrayRight(priceChartSelectData[1]);
                        priceChartSelectDataMaxPoint[1] = shiftArrayRight(priceChartSelectDataMaxPoint[1]);
                        priceChartSelectDataMaxPoint[1][0] = stockData.stck_prpr;
                        priceChartSelectDataMinPoint[1] = shiftArrayRight(priceChartSelectDataMinPoint[1]);
                        priceChartSelectDataMinPoint[1][0] = stockData.stck_prpr;
                        priceChartSelectDataZeroPoint[1] = shiftArrayRight(priceChartSelectDataZeroPoint[1]);
                        priceChartSelectDataZeroPoint[1][0] = stockData.stck_prpr;
                        relTime = grapeTime;
                        stickRefY = marginTop + LayoutHeight / 2;
                        expandGraph(1, priceChartWriter, priceChartLayout);
                    }
                    if (grapeTime - relTime >= Min1) {
                        priceChartSelectData[2] = shiftArrayRight(priceChartSelectData[2]);
                        priceChartSelectDataMaxPoint[2] = shiftArrayRight(priceChartSelectDataMaxPoint[2]);
                        priceChartSelectDataMaxPoint[2][0] = stockData.stck_prpr;
                        priceChartSelectDataMinPoint[2] = shiftArrayRight(priceChartSelectDataMinPoint[2]);
                        priceChartSelectDataMinPoint[2][0] = stockData.stck_prpr;
                        priceChartSelectDataZeroPoint[2] = shiftArrayRight(priceChartSelectDataZeroPoint[2]);
                        priceChartSelectDataZeroPoint[2][0] = stockData.stck_prpr;
                        relTime = grapeTime;
                        stickRefY = marginTop + LayoutHeight / 2;
                        expandGraph(2, priceChartWriter, priceChartLayout);
                    }
                    if (grapeTime - relTime >= Sec30) {
                        priceChartSelectData[3] = shiftArrayRight(priceChartSelectData[3]);
                        priceChartSelectDataMaxPoint[3] = shiftArrayRight(priceChartSelectDataMaxPoint[3]);
                        priceChartSelectDataMaxPoint[3][0] = stockData.stck_prpr;
                        priceChartSelectDataMinPoint[3] = shiftArrayRight(priceChartSelectDataMinPoint[3]);
                        priceChartSelectDataMinPoint[3][0] = stockData.stck_prpr;
                        priceChartSelectDataZeroPoint[3] = shiftArrayRight(priceChartSelectDataZeroPoint[3]);
                        priceChartSelectDataZeroPoint[3][0] = stockData.stck_prpr;
                        relTime = grapeTime;
                        stickRefY = marginTop + LayoutHeight / 2;
                        expandGraph(3, priceChartWriter, priceChartLayout);
                    }
                }

                // 봉마다 고점, 저점 저장
                for (let i = 0; i < priceChartSelectDataMaxPoint.length; i++) {
                    if (priceChartSelectDataMaxPoint[i][0] < stockData.stck_prpr) {
                        priceChartSelectDataMaxPoint[i][0] = stockData.stck_prpr;
                    }
                    if (priceChartSelectDataMinPoint[i][0] > stockData.stck_prpr) {
                        priceChartSelectDataMinPoint[i][0] = stockData.stck_prpr;
                    }
                }

                // 종가 저장
                priceChartSelectData[0][0] = stockData.stck_prpr;
                priceChartSelectData[1][0] = stockData.stck_prpr;
                priceChartSelectData[2][0] = stockData.stck_prpr;
                priceChartSelectData[3][0] = stockData.stck_prpr;
                priceChartSelectData[4].push(stockData.stck_prpr);


                // 거래량 그래프 캔들 그리기
                stickRefX = LayoutWidth + marginLeft - LayoutWidth / graphComp + valueStickWidth;

                let priceGap = priceChartSelectDataZeroPoint[selectDataIndex][0] - stockData.stck_prpr;
                let highPointGap = priceChartSelectDataMaxPoint[selectDataIndex][0] - priceChartSelectDataZeroPoint[selectDataIndex][0];
                let lowPointGap = priceChartSelectDataZeroPoint[selectDataIndex][0] - priceChartSelectDataMinPoint[selectDataIndex][0];
                let tickSize = getTickSize(stockData.stck_prpr);
                let viewRate = LayoutHeight /
                    ((getMax(priceChartSelectDataMaxPoint[selectDataIndex], graphComp) - stockData.stck_prpr) / tickSize +
                        (stockData.stck_prpr - getMin(priceChartSelectDataMinPoint[selectDataIndex], graphComp)) / tickSize
                        + 20);

                console.log(viewRate);

                drowCandle(stickRefX, stickRefY, valueStickWidth, priceGap, highPointGap, lowPointGap, tickSize, viewRate);

                let stickRefY2 = stickRefY;
                for (let i = 1; i < priceChartSelectData[selectDataIndex].length; i++) {
                    stickRefY2 = stickRefY2 - viewRate * (priceChartSelectDataZeroPoint[selectDataIndex][i]-priceChartSelectData[selectDataIndex][i])/tickSize;
                    drowCandle(stickRefX - i * LayoutWidth / graphComp,
                        stickRefY2,
                        valueStickWidth,
                        priceChartSelectDataZeroPoint[selectDataIndex][i] - priceChartSelectData[selectDataIndex][i],
                        priceChartSelectDataMaxPoint[selectDataIndex][i] - priceChartSelectDataZeroPoint[selectDataIndex][i],
                        priceChartSelectDataZeroPoint[selectDataIndex][i] - priceChartSelectDataMinPoint[selectDataIndex][i],
                        tickSize, viewRate);
                }
            }else if(stockData.stck_prpr == null){
                if (relTime == null) {
                    relTime = new Date(data.created_at);
                } else {
                    let grapeTime = new Date(data.created_at);
                    if (grapeTime - relTime >= Min5) {
                        selectData[0] = shiftArrayRight(selectData[0]);
                        showValueLate = getMax(selectData[0]);
                        relTime = grapeTime;
                        stickRefY = marginTop + LayoutHeight;
                        expandGraph(0, tradeVolumeChartWriter, tradeVolumeChartLayout);
                    }
                    if (grapeTime - relTime >= Min3) {
                        selectData[1] = shiftArrayRight(selectData[1]);
                        showValueLate = getMax(selectData[1]);
                        relTime = grapeTime;
                        stickRefY = marginTop + LayoutHeight;
                        expandGraph(1, tradeVolumeChartWriter, tradeVolumeChartLayout);
                    }
                    if (grapeTime - relTime >= Min1) {
                        selectData[2] = shiftArrayRight(selectData[2]);
                        showValueLate = getMax(selectData[2]);
                        relTime = grapeTime;
                        stickRefY = marginTop + LayoutHeight;
                        expandGraph(2 tradeVolumeChartWriter, tradeVolumeChartLayout);
                    }
                    if (grapeTime - relTime >= Sec30) {
                        selectData[3] = shiftArrayRight(selectData[3]);
                        showValueLate = getMax(selectData[3]);
                        relTime = grapeTime;
                        stickRefY = marginTop + LayoutHeight;
                        expandGraph(3 tradeVolumeChartWriter, tradeVolumeChartLayout);
                    }
                }


                selectData[0][0] += data.cntg_vol;
                selectData[1][0] += data.cntg_vol;
                selectData[2][0] += data.cntg_vol;
                selectData[3][0] += data.cntg_vol;
                selectData[4].push(data.cntg_vol);

                stickRefX = LayoutWidth + marginLeft - LayoutWidth / graphComp + valueStickWidth;

                // 거래량 고점 갱신 시 그래프 표시 비율 변경
                if (selectData[selectDataIndex][0] > showValueLate && selectData[selectDataIndex][1] !== undefined) {
                    showValueLate = selectData[selectDataIndex][0];
                    drowStick(stickRefX, LayoutHeight + marginTop - LayoutHeight * 0.8, valueStickWidth, LayoutHeight * 0.8);
                } else {
                    // 거래량 그래프 스틱 그리기
                    stickRefY -= data.cntg_vol / showValueLate * LayoutHeight * 0.8;
                    drowStick(stickRefX, stickRefY, valueStickWidth, selectData[selectDataIndex][0] / showValueLate * LayoutHeight * 0.8);
                }


                for (let i = 1; i < selectData[selectDataIndex].length; i++) {
                    drowStick(stickRefX - i * LayoutWidth / graphComp,
                        LayoutHeight + marginTop - selectData[selectDataIndex][i] / showValueLate * LayoutHeight * 0.8,
                        valueStickWidth,
                        selectData[selectDataIndex][i] / showValueLate * LayoutHeight * 0.8);
                }
            }
        };
        chartSocket.onerror = function (event) {
            alert("에러 발생", event);
        };
        chartSocket.onclose = function (event) {
            console.log("연결이 끊겼습니다.");
        };
    }

    window.addEventListener("beforeunload", function (event) {
        chartSocket.close();
    })
</script>
</script>
</body>
</html>