<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.cavia.trader.module.notice.mapper.NoticeMapper">
    <insert id="saveNotice" parameterType="io.cavia.trader.module.notice.dto.NoticeDto">
        insert into notices (
        title,
        content,
        created_at,
        updated_at,
        pinned
        )
        values(
        #{title},
        #{content},
        #{createdAt},
        #{updatedAt},
        #{pinned}
        )
    </insert>
    <select id="findAll" resultType="io.cavia.trader.module.notice.dto.NoticeDto">
        select
        id,
        title,
        content,
        created_at as createdAt,
        updated_at as updatedAt,
        pinned
        from notices
    </select>
    <select id="countById" parameterType="int" resultType="int">
        select count(*)
        from notices
        where id = #{id}
    </select>
    <delete id="deleteNotice" parameterType="io.cavia.trader.module.notice.dto.NoticeDto">
        delete
        from notices
        where id = #{id}
    </delete>
    <update id="updateNotice" parameterType="map">
        update notices
        <set>
            <if test="title != null">
                title=#{title},
            </if>
            <if test="content != null">
                content=#{content},
            </if>
            updated_at=#{updatedAt},
            pinned=#{pinned},
        </set>
        where id=#{id}
    </update>
    <update id="updateOnlyPinned" parameterType="map">
        update notices
        <set>
            updated_at=#{updatedAt},
            pinned=#{pinned},
        </set>
        where id=#{id}
    </update>
    <update id="updateTitleAndContent" parameterType="map">
        update notices
        <set>
            <if test="title != null">
                title=#{title},
            </if>
            <if test="content != null">
                content=#{content},
            </if>
            updated_at=#{updatedAt},
        </set>
        where id=#{id}
    </update>
</mapper>