<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layouts"
      layout:decorate="layouts/layout">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 기본 파비콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <!-- 구형 브라우저 호환용 ICO -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/notices.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="notice-wrapper">
    <div class="notice-container">
        <div class="created-at">
            <p th:text="${#temporals.format(dto.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></p>
        </div>
        <div class="title">
            <h2 th:text="${dto.title}">제목</h2>
        </div>
        <div class="content">
            <p th:utext="${#strings.replace(dto.content,'\n', '<br/>')}"></p>
        </div>
        <div class="notice-back-btn">
            <a th:href="@{/notices(cp=${cp})}">
                <button type="button">목록</button>
            </a>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="/js/header.js"></script>
</body>
</html>