<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>비밀번호 변경</h2>
<h3>비밀번호 변경을 위해 현재 비밀번호를 입력해주세요.</h3>
<form th:action="@{/member/mypage/password-verification}" method="post">
    <input type="hidden" id="id" name="id" value=1>
    <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요" >
    <span id="message" style="display:block; margin-top:10px; color:red;" th:if="${errorMessage}" th:text="${errorMessage}">비밀번호 피드백메시지</span>
    <button type="submit">전송</button>
</form>
<button onclick="location.href='mypage-main'">돌아가기</button>
</body>
</html>