<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="main-wrapper">
    <div class="main-container">
        <div id="message"></div>
        <div id="ranking">
            <button onclick="loadRanking('cash')">총 자산순</button>
            <button onclick="loadRanking('total-score')">점수순</button>
            <div class="ranking-header">
                <span class="col-rank">순위</span>
                <span class="col-nickname">닉네임</span>
                <span class="col-cash">자산</span>
                <span class="col-score">점수</span>
            </div>
            <div id="rankingList">
            </div>
        </div>
        <div class="game-btn">
            <input type="button" value="주식게임" onclick="location.href = '/game'">
        </div>
    </div>
</div>
</body>
<script src="/js/header.js"></script>
<script>
    // 페이지 로드 시 기본으로 자산순 랭킹 보여주기
    window.onload = function () {
        loadRanking('cash');
    }

    async function loadRanking(type) {
        const token = localStorage.getItem('jwt-token');
        const list = document.getElementById('rankingList');
        const message = document.getElementById('message');

        try {
            const res1 = await fetch(`/api/rankings/${type}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            if(!res1.ok) throw new Error('게임 기록을 불러오지 못했습니다');

            const rankings = await res1.json();
            list.innerHTML = '';

            if(rankings.length === 0 ) {
                list.innerHTML = '<div>참여한 게임이 없습니다.</div>';
                message.innerText = '랭킹 데이터가 없습니다.';
                return;
            }

        rankings.forEach((user, i) => {
            const div = document.createElement('div');
            div.classList.add('ranking-row');
            div.innerHTML = `
              <span class="col-rank">${i + 1}위</span>
              <span class="col-nickname">${user.nickname}</span>
              <span class="col-cash">${Number(user.cash).toLocaleString()}원</span>
              <span class="col-score">${user.totalScore}</span>`;
            list.appendChild(div);
        });

        message.innerText = type === 'cash' ? '총 자산순 랭킹입니다.' : '점수순 랭킹입니다.';

        }catch(err) {
            message.innerText = '에러 발생: ' + err.message;
        }
    }
</script>
</html>