<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="io.cavia.trader.module.game.repository.GameMapper">
    <insert id="saveGame">
        INSERT INTO
        games (
            stock_id,
            started_at
        )
        VALUES (
            #{stockId}
            #{startedAt}
        )
    </insert>

    <insert id="saveGameParticipations">
        INSERT INTO
        game_participations (
            member_id,
            game_id,
            return_rate,
            game_rank,
            earned_score,
            post_score,
            earned_cash,
            post_cash,
            entered_at
        )
        VALUES (
            #{memberId},
            #{gameId},
            #{returnRate},
            #{gameRank},
            #{earendScore},
            #{postScore},
            #{earnedCash},
            #{postCash},
            #{enteredAt}
        )
    </insert>

    <select id="findMemberById" resultType="io.cavia.trader.module.game.entity.Member">
        SELECT
            id,
            email,
            nickname,
            role,
            cash,
            total_score
        FROM
            members
        WHERE
            id = #{id}
    </select>

    <update id = "updateCashAndTotalScoreById">
        UPDATE
            cash,
            total_score
        FROM
            members
        WHERE
            id = #{id}
    </update>
</mapper>